body{
	margin: 0;
}
input:focus{outline: none;}
button:focus{outline: none;}
.bg{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -999;
}
.bg img{
	min-height: 100%;
	width: 100%;
}
#chatBlock{
	width: 60%;	
	float: left;
	margin-left: 5%;
	margin-top: 55px;
}
#chatmessage{
	height: 530px;	
	padding: 15px 15px;	
	border: 2px black solid;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-width: 0px;
	background-color: rgba(0,0,0,0.8);
	transition: 500ms;
	overflow: auto;
}
.inputbox{
	width: 100%;
	height: 40px;
	border: 2px black solid;
	padding: 5px 5px;
	border-radius: 10px;
	border-top-width: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-family: monospace,Microsoft JhengHei;
	color: white;
	background-color: black;
}
#msgbox{
	width: 75%;
}
input[type="text"]{	
	font-family: monospace,Microsoft JhengHei;
	color: black;
	font-size: 15px;
	border: 1px white solid;
	background-color: #adadad;	
	border-radius: 5px;
}
.btn_{
	border: 1px white solid;
	border-radius: 5px;
}
#send-btn{
	background-color: #64a600;	
}
#leave-btn{
	background-color: #64a600;	
}
#export{
	background-color: #003d79;	
}
#export a:link{text-decoration: none;color: white;}
#export a:visited{text-decoration: none;color: white;}
#export a:hover{text-decoration: none;color: yellow;}
#export a:active{text-decoration: none;color: white;}
/**/
#userInfoBlock{
	width: 25%;
	height: 200px;
	margin-right: 5%;
	margin-top: 55px;
	float: right;
	border: 2px black solid;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.8);
	transition: 500ms;
}
.userInfo .userIcon{
	width: 40%;
	text-align: center;
	padding-top: 65px;
	float: left;
}
.userIcon img{
	border: 3px white solid;
	border-radius: 10px;	
}
.userInfo .username{
	width: 60%;	
	padding-top: 65px;
	float: right;
	font-family: monospace,Microsoft JhengHei;
	font-size: 15px;
	color: white;
}
#onlineBlock{
	width: 25%;
	height: 323px;
	margin-right: 5%;
	margin-top: 47px;
	padding: 15px 15px;
	float: right;
	border: 2px black solid;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.8);
	transition: 500ms;
}
#onlineBlock hc{
	font-size: 20px;
	font-family: monospace,Microsoft JhengHei;
	color: white;
}
#onlineBlock li{
	border: none;
}
#onlineBlock hr{
	border:1px dashed solid;
	margin: 3px 0;
}
/*hover 效果*/
#chatmessage:hover{background-color: rgba(0,0,0,0.9);}
#userInfoBlock:hover{background-color: rgba(0,0,0,0.9);}
#onlineBlock:hover{background-color: rgba(0,0,0,0.9);}
/*自定義滾輪*/
#chatmessage::-webkit-scrollbar{
	width: 15px;
	background-color: #111111;
}
#chatmessage::-webkit-scrollbar-button{display: none;}
#chatmessage::-webkit-scrollbar-thumb{background-color: #272727;transition: 500ms;}
#chatmessage::-webkit-scrollbar-thumb:hover{background-color: #4f4f4f;}