body{
	margin 0;
	background-color: black;
}
p{
	color: white;
}
#showRoomListBlock{
	width: 60%;
	margin-left: 5%;
	margin-top: 55px;
	float: left;
}
.roomListBar{
	text-align: center;
	height: 35px;
	border: 5px #56bfc1 solid;	
	border-bottom-width: 0px; 
	background-color: blue;
}
.item{
	text-align: center;
	width: 33%;
	float: left;
}
.item h1{
	display: inline;
	font-family: Microsoft JhengHei;
	font-size: 25px;
	color: white;	
}
.showRoomList{	
	height: 480px;
	overflow: auto;
	border: 5px #56bfc1 solid;
	border-top-width: 0px;
	border-bottom-width: 0px;
	background-color: black;
	padding: 10px;
	color: white;
}
.list{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 20px;
	border: 4px gray solid;
	padding-top: 8px;
	padding-bottom: 8px;
}
.item1{
	text-align: center;
	width: 33%;
	float: left;
	overflow: hidden;	
	text-overflow:ellipsis;
	white-space: nowrap;
	list-style:disc inside none;
}	
.item1 h1{
	font-family: monospace,Microsoft JhengHei;
	font-size: 20px;	
	display: inline;
	color: white;
}
/*while hover list*/
.list:hover{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 20px;
	border: 4px yellow solid;
	padding-top: 8px;
	padding-bottom: 8px;
}	
/*自定義滾輪*/
.showRoomList::-webkit-scrollbar{
	width: 15px;
	background-color: white;
}
.showRoomList::-webkit-scrollbar-button{display: none;}
.showRoomList::-webkit-scrollbar-thumb{background-color: yellow;}
.addRoomBar{
	text-align: center;
	border:  5px #56bfc1 solid;
	border-top-width: 0px;
	background: blue;	
}
.roomAdd:link{text-decoration: none;color: white;}
.roomAdd:visited{text-decoration: none;color: white;}
.roomAdd:hover{text-decoration: none;filter: glow(color: yellow,strength:10);color: yellow;text-shadow: 1px 1px 10px yellow;}
.roomAdd:active{text-decoration: none;color: white;}
.roomAdd img{display: inline;}
.roomAdd h1{
	display: inline;
	padding: 0 10px;
	font-family: Microsoft JhengHei;
	font-size: 25px;
}
#userInfoBlock{
	width: 25%;
	margin-right: 5%;
	margin-top: 55px;
	float: right;
}
.userInfo{	
	height: 200px;
	border: 5px #56bfc1 solid;	
}
.userInfo .userIcon{
	width: 50%;
	text-align: center;
	padding-top: 65px;
	float: left;
}
.userIcon img{
	border: 3px purple solid;		
}
.userInfo .username{
	width: 50%;	
	padding-top: 65px;
	float: right;
}
#noticeBlock{
	width: 25%;
	margin-right: 5%;
	margin-top: 60px;
	float: right;
}
.notice{
	height: 300px;
	border: 5px #56bfc1 solid;	
}